#walrus-showing {
  display: none;
}

.walrusClickable {
  cursor: pointer;
  color: #0088cc;
}

.walrusClickable:hover {
  text-decoration: underline;
}

.penguinClickable {
  cursor: pointer;
  color: #0088cc;
}

.penguinClickable:hover {
  text-decoration: underline;
}

#penguin-showing {
  display: none;
}