#walrus-showing {
  display: none;
}

.walrusClickable {
  cursor: pointer;
  color: #0088cc;
}

.walrusClickable:hover {
  text-decoration: underline;
}

#penguin-showing {
  display: none;
}

.penguinClickable {
  cursor: pointer;
  color: #0088cc;
}

.penguinClickable:hover {
  text-decoration: underline;
}

#polarBear-showing {
  display: none;
}

.polarBearClickable {
  cursor: pointer;
  color: #0088cc;
}

.polarBearClickable:hover {
  text-decoration: underline;
}

#arcticFox-showing {
  display: none;
}

.arcticFoxClickable {
  cursor: pointer;
  color: #0088cc;
}

.arcticFoxClickable:hover {
  text-decoration: underline;
}